test/NFramework.XmlData.Tests/Service References/XmlDataServiceHost.Wcf/XmlDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://svc.realweb21.com" elementFormDefault="qualified" targetNamespace="http://svc.realweb21.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestBytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compress" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestBytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compress" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSecurityResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>