test/NFramework.XmlData.Tests/Service References/XmlDataServiceHost.Wcf/XmlDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://svc.realweb21.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://svc.realweb21.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://svc.realweb21.com/Imports">
      <xsd:import schemaLocation="http://localhost:1795/Services/XmlDataService.svc?xsd=xsd0" namespace="http://svc.realweb21.com" />
      <xsd:import schemaLocation="http://localhost:1795/Services/XmlDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="XmlDataService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="XmlDataService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="XmlDataService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="XmlDataService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="XmlDataService_ExecuteSecurity_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSecurity" />
  </wsdl:message>
  <wsdl:message name="XmlDataService_ExecuteSecurity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSecurityResponse" />
  </wsdl:message>
  <wsdl:portType name="XmlDataService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://svc.realweb21.com/XmlDataService/Ping" message="tns:XmlDataService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://svc.realweb21.com/XmlDataService/PingResponse" message="tns:XmlDataService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://svc.realweb21.com/XmlDataService/Execute" message="tns:XmlDataService_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://svc.realweb21.com/XmlDataService/ExecuteResponse" message="tns:XmlDataService_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSecurity">
      <wsdl:input wsaw:Action="http://svc.realweb21.com/XmlDataService/ExecuteSecurity" message="tns:XmlDataService_ExecuteSecurity_InputMessage" />
      <wsdl:output wsaw:Action="http://svc.realweb21.com/XmlDataService/ExecuteSecurityResponse" message="tns:XmlDataService_ExecuteSecurity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>